body {
	font-family: sans-serif;
	text-align: center;
}

.card {
	width: 50%;
	margin: auto;
	background: #eee;
	padding: 1em;
}

.cover {
	width: 200px;
	height: 323px;
	margin: auto;
	
	position: relative;
	
	transform: perspective(100px) rotateY(-3deg);
	
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.cover:before {
	position: absolute;
	top: 2%;
	height: 96%;
	content: ' ';
	z-index: -1;
	width: 100%;
	left: 7.5%;
	background-color: #170c07;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.cover:after {
	position: absolute;
	top: 2%;
	height: 96%;
	content: ' ';
	z-index: -1;
	width: 5%;
	left: 100%;
	background-color: #EFEFEF;
	box-shadow: inset 0px 0px 5px #aaa;
	transform: perspective(100) rotateY(20deg);
}

.cover h1 {
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: 95%;
	height: 95%;
	overflow: hidden;
	margin: auto;
	font-size: 1.4em;
	color: white;
	
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}