body {
	font-family: sans-serif;
	text-align: center;
}

.card {
	width: 50%;
	margin: auto;
	background: #eee;
	padding: 1em;
}

.cover {
	width: 200px;
	height: 323px;
	margin: auto;
	
	position: relative;
	
	transform: perspective(100px) rotateY(-3deg);
	
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	background: #000;
	
	opacity: 0;
	transition: .2s ease;
}

.cover:before {
	position: absolute;
	top: 2%;
	height: 96%;
	content: ' ';
	z-index: -1;
	width: 100%;
	left: 7.5%;
	background-color: #170c07;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.cover:after {
	position: absolute;
	top: 2%;
	height: 96%;
	content: ' ';
	z-index: -1;
	width: 5%;
	left: 100%;
	background-color: #EFEFEF;
	box-shadow: inset 0px 0px 5px #aaa;
	transform: perspective(100) rotateY(20deg);
}

.cover h1 {
	
	position: absolute;
	
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: 95%;
	height: 95%;
	margin: auto;
	font-size: 1.8em;
	color: white;
	
	text-shadow: 2px 2px 4px rgba(0,0,0,0.85);
	line-height: 1.4em;
}

.cover h2 {
	
	position: absolute;
	
	bottom: 20px;
	left: 0;
	right: 0;
	
	margin: auto;
	font-size: 1.5em;
	color: white;
	
	text-shadow: 2px 2px 12px rgba(0,0,0,0.85);
	
	transform: scaleY(1.5) scaleX(0.75);
	letter-spacing: .05em;
	font-weight: 500;
}

.tiltRight {
	transform: rotateZ(5deg) translateX(-10px);
}
.tiltLeft {
	transform: rotateZ(-5deg) translateX(10px);
}

.alignLeft{
	text-align: left;
}

.fade {
	opacity: 1;
}

.loading {
	position: absolute;
	transition: .2s ease;
	left: 40%;
	top: 25%;
	font-size: 2em;
}